@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #D0D0D0;
}

.list {
    list-style-type: none;
}

.border {
    border: #A8A8A8  solid;
    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F8F8;
}

.top {
    text-align: center;
    background-color: #E8E8E8 ;
}

.button {
    border: 1px solid #ccc;
    background-color: #4F94CD;
    color: white;
}

.form { 
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    width: 100%;
}

.js-strike {
    color: grey;
    text-decoration: line-through;
}

.delete {
    visibility: hidden;
}